@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<p role="status">@menssagem</p>
<button @onclick="Salvar">Salvar</button>

@code{
    string menssagem = null;
    public void Salvar()
    {
        menssagem = "Salvo";
    }
}